@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
/* Reset some default browser styles */
h1, h3, p {
    margin: 0;
    padding: 0;
    cursor: pointer;
}
body{
    font-family: "Poppins", sans-serif;
    background-image: url(./photos/gray\ background.jpg);
    background-position: center;
    background-size: cover;
    
}

header {
    background-color: #fb2e2e;
    color: #fff;
    text-align: center;
    padding: 20px;
    
}

.header-image {
    text-align: center;
    margin: 10px 5px;
    /* border-radius: 150px; */
}
.header-image  img{
    border-radius: 30px;
    border: 3px solid rgb(228, 219, 219);
}

.header-image img {
    max-width: 100%;
    height: auto;
}

.video-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.video-container,.video-box{
    color: #fcfbfb;
}

.video-box {
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
    background-color: #575f5f2d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.video-box p{
    margin-top: 20px;
}

.video-box:hover {
    background-color: #2df4d3a3;
    transform: scale(1.05);
    border-color: #333;
    border: 1.5px solid #fa0000;

}

footer {
    background-color: #fb2e2e;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}