@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
h1, h3, p {
    margin: 0;
    padding: 0;
    cursor: pointer;
}
body{
    font-family: "Poppins", sans-serif;
    background-image: url(./photos/gray\ background.jpg);
    background-position: center;
    background-size: cover;
    
}

header {
    background-color: #65636319;
    color: #fff;
    text-align: center;
    padding: 20px;
}
/* .header-image {
    text-align: center;
    margin: 10px 5px;
}
.header-image  img{
    border-radius: 30px;
    border: 3px solid rgb(228, 219, 219);
}

.header-image img {
    max-width: 100%;
    height: auto;
} */
.links{
    color: #fa0000;
    text-align: center;
    font-size: large;
}



.center-container {
    padding-top: 2%;
    display: flex;
    justify-content: center;
  }
  
  .slider-container {
    /* position: relative; */
    width: 900px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .slider {
    text-align: center;
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 900px; /* Should match slider-container width */

  }
  .slide a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 5px;
  }
  .slide a:hover{
    transition: .8s ease;
    color: #fa0000;
  }  
  .dots-container {
    /* text-align: center; */
    margin-top: 10px; /* Spacing between slides and dots */
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }

  .dot.active {
    background-color: #f21010;
  }





  

.video-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.video-container,.video-box{
    color: #fcfbfb;
}

.video-box {
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
    background-color: #575f5f2d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.video-box p{
    margin-top: 20px;
}

.video-box:hover {
    background-color: #2df4d36b;
    transform: scale(1.05);
    border-color: #333;
    border: 1.5px solid #fa0000;

}

footer {
    background-color: #65636319;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}